@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
h3{
	font-size: 40px;
	font-weight: 400;
	font-family: "Open Sans" sans-serif;
}
img {
	vertical-align: top;
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
}
:root {
	--swiper-theme-color: #fff;
}
